In [1]:
print('hello')
print("HELLO")
#print(hello) -> error ("가 없으면 식별자가 되므로-> 식별자는 존재하는 이름)

hello
HELLO

In [2]:
print("first line \
       second line \
       third line")
print('''first line 
         second line
         third line''')

first line        second line        third line
first line
         second line
         third line

In [3]:
# print("no print")
print('print')

print

In [4]:
if True:
    print('True')

True

## 변수와 자료형
### 변수와 자료형

In [5]:
name = "John Doe"
age = 32
email = 'johndoe@example.com'
phone = "010-1234-5678" # 0으로 시작하는 숫자는 없으므로 문자형
married = False # or True
height = 183.65
asset = None

print(name, age, email, height, asset, 
      sep=' / ') # 변수명은 "" 안붙임

John Doe / 32 / johndoe@example.com / 183.65 / None

In [6]:
a,b,c=1,30,"John"
print(a,b,c)
a,b,c=(1,24,"Soe")
print(a,b,c)
(a,b,c)='hello','hoseo','world'
print(a,b,c)
[a,b,c]=123,432,353
print(a,b,c)
a,b,c=(1000,2000,3000)
print(a,b,c)
f='hi'
print(f)
del f
print(f)

1 30 John
1 24 Soe
hello hoseo world
123 432 353
1000 2000 3000
hi

NameError: name 'f' is not defined

In [ ]:
a=100
print(a)
del a
print(a) # 쥬금

In [ ]:
print(10/3) # 일반 나눗셈
print(10 % 3) # 나머지 계산
print(10 // 3) # 몫 계산
print(10 ** 3) #거듭 제곱 연산

In [ ]:
print("10" + "10")
print(10+10)
print(int("10")+int("10")) # int는 소수점을 날린당 ~~
print(float("11.11")+float("22.22"))

In [ ]:
print("this is python" * 2) # 문자열/배열 곱하깅~~~ -> 배열 반복
print([1,2,3,4,5]*2) # 곱하기가 아닌 반복

In [ ]:
a= 'happy birthday'
a[3]
a[3:5]
b='puppy'
b[1:3]

In [ ]:
str_ = 'Life is too short, You need Python'
print(str_)
print(str_[0:4])
print(str_[0:2])
print(str_[5:8])
print(str_[::2])
print(str_[::3])

In [ ]:
name='Jane doe'
age=29
email='janedoe@example.com'
print('[',name,'][',age,'][',email,']')
print('[ %s ][ %d ][ %s ]'%(name, age, email)) # 이걸 많이 씀 / 자료형을 나타냄
print('[ {0} ][ {1} ][ {2} ]'.format(name, age, email)) # 권장 사항
print('[ {2} ][ {0} ][ {1} ]'.format(age, email, name)) #자리만 바꿈

In [ ]:
multiline = "Life is too \'short\'!!!\n\tYou need \"python\""
print(multiline)

In [ ]:
print(','.join(['1','2','3','4','5'])) # data들을 ,로 이어줌
print(','.join('12345')) # 같은 효과
print(','.join([str(1), str(2), str(3), str(4), str(5)])) # 기존 str 변수 제거하기 위해 restart 사용했음

In [ ]:
a = "Life is too short"
b = a.split()
print(a.split()) # 배열 표시, 목록으로 쪼개기
print(b) # 위와 같음
c= ":".join(b) # 하나의 문장으로 만들겠다
print(c)
print(a.replace(" ", ":")) # 스페이스를 : 로